@import 'variables/index';
@import 'mixins/index';

.webauthn-key {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-top:1px solid $wp-gray-dark;
	&:last-of-type {
		border-bottom:1px solid $wp-gray-dark;
	}
	.webauthn-label {
		flex:1;
	}
	[data-tested="tested"] {
		color: $wp-green;
	}
	[data-tested="fail"] {
		color: $wp-red;
		&::before {
			content:$dashicon-warning;
		}
	}
	[data-tested="untested"] {
		color: $wp-gray-dark;
		&::before {
			content:$dashicon-yes;
			border-radius:50%;
			border:1px solid $wp-gray-dark;
			font-size:16px;
		}
	}
	.webauthn-action {
		padding:3px;
		border:1px solid rgba(0,0,0,0);
		text-decoration:none;
		white-space: nowrap;
	}
	.webauthn-action-link {
		flex:0;
		&.-test {

		}
		&.-delete {
			color:$wp-red;
		}
	}
	.webauthn-label {
		&:focus {
			outline:none;
		}
		&[contenteditable="true"] {
			 background-color: #fff;
			 border-color:$wp-blue;
		}
		& + .spinner {
			margin-right:auto;
			float:none;
			visibility: visible;
		}
		& + .webauthn-action {
			margin-left:auto;
		}
	}
	.notice {
		flex-basis:100%;
	}
}
